<!doctype html>

<html lang="en" ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="src/app.js"></script>
    <script src="src/todoListController.js"></script>
  </head>

  <body ng-controller="TodoListController as todoCtrl">
    <div class="container">

      <div class="page-header row">
        <h1>to do:</h1>
      </div>

      <form class="form-horizontal">
        <input type="text" name="new-task" ng-model="todoCtrl.newTask" />
        <button class="btn-success" ng-click="todoCtrl.addTask()">Add Task</button>
      </form>

      <ul class="list-group">
        <li ng-repeat="task in taskCtrl.tasks">
          {{task.name}}
        </li>
      </ul>

    </div>
  </body>
</html>
