<!doctype html>

<html lang="en" ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="todoList.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="src/app.js"></script>
    <script src="src/todoListController.js"></script>
  </head>

  <body ng-controller="TodoListController as todoCtrl">
    <div class="container">

      <div class="page-header row">
        <h1>to do:</h1>
      </div>

      <form class="form-horizontal">
        <input type="text" name="new-task" ng-model="todoCtrl.newTask" />
        <button class="btn-success" ng-click="todoCtrl.addTask()">
          Add Task
        </button>
      </form>

      <ul class="list-group">
        <li ng-repeat="task in todoCtrl.filteredTasks">
          <input type="checkbox" ng-model="task.done" />
          <span class="done-{{task.done}}">{{task.name}}</span>
        </li>
      </ul>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active"
          ng-click="todoCtrl.applyFilter('all')">
          <input type="radio" id="filter-all" checked /> All
        </label>
        <label class="btn btn-primary"
          ng-click="todoCtrl.applyFilter('active')">
          <input type="radio" id="filter-active" /> Active
        </label>
        <label class="btn btn-primary"
          ng-click="todoCtrl.applyFilter('complete')">
          <input type="radio" id="filter-completed" /> Completed
        </label>
      </div>

    </div>
  </body>
</html>
